[user]
    name = Rafael Dias
    email = s.rafaeldias@protonmail.com
    signingkey = s.rafaeldias@protonmail.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore

[url "git@github.com:"]
    insteadOf = "https://github.com/"
    ; pushInsteadOf = "https://github.com/"

[commit]
    gpgsign = true
    template = ~/.gitmessage

[init]
    defaultbranch = main

[branch]
    autoSetupMerge = always
    sort = committerdate

[rebase]
    autosquash = true
    autostash = true

[push]
    default = current
    followtags = true
    autoSetupRemote = true

[pull]
    default = current

[rerere]
    enabled = true

[gpg]
    program = gpg

[fetch]
    prune = true
    prunetags = true

[log]
    date = iso

[alias]
    recent = branch --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)'
    pl = pull
    ps = push
    s = status
    new = log main..HEAD
    missing = log HEAD..main
