[core]
    editor = nvim
    excludesfile = ~/.gitignore

[init]
    defaultbranch = main

[branch]
    autoSetupMerge = always
    sort = committerdate

[diff]
    algorithm = patience

[rebase]
    autosquash = true
    autostash = true

[push]
    default = current
    followtags = true
    autoSetupRemote = true

[pull]
    default = current

[rerere]
    enabled = true
    autoUpdate = true

[gpg]
    program = gpg

[fetch]
    prune = true
    prunetags = true

[log]
    date = iso

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[alias]
    pf = push --force-with-lease
    p = push
    pu = pull
    s = status
    f = fetch

    d = diff
    dw = diff --word-diff

    recent = branch --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)'
    new = log main..HEAD
    missing = log HEAD..main

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[maintenance]
    repo = ~/.dotfiles

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/code/"]
    path = ~/.gitconfig-local

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.gitconfig-local
